<h4 id= "TitleofPage"> Dodger Hitting Stats</h4>
<div  class="row">
    <div class="col-md-6">
        <h1>Batting Avg. Leaders</h1>
            <app-stat></app-stat>
    </div>
    <div class="col-md-6">
        <h1>HomeRun Leaders</h1>
        <hr-stat></hr-stat>
    </div>
    <div class="col-md-6">                
        <h1>OPS+ Leaders</h1>
        <ops-stat></ops-stat>
    </div>
    <div class="col-md-6">
        <h1>RBI Leaders</h1>
        <rbi-stat></rbi-stat>
    </div>
    <div class="col-md-6">
        <h1>Stolen Bases</h1>
        <sb-stat></sb-stat>
    </div>
    <div class="col-md-6">
        <h1>Slugging Leaders</h1>
        <slg-stat></slg-stat>
        </div>
</div>
