    <nav class="navbar  navbar-inverse navbar-expand-md ">
    <a class="navbar-brand" href="#">Dodgers Stats</a>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] = "['hitting']">Hitting Stats</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" [routerLink] = "['pitching']">Pitching Stats</a>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-md-auto " style="margin-top:6px">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        </form>
        
</nav>
