<h4 id= "TitleofPage"> Dodger Pitching Stats</h4>
<div class="row">
    <div class="col-md-6">
        <h1>Win Leaders</h1>
        <win-stat></win-stat>
    </div>            
    <div class="col-md-6">                
        <h1>Strikeout Leaders</h1>
        <so-stat></so-stat>
    </div>
            <div class="col-md-6"   >
                <h1>ERA Leaders</h1>
                <era-stat></era-stat>
            </div>

            <div class="col-md-6">
                <h1>Avg Leaders</h1>
                <pavg-stat></pavg-stat>
            </div>
            <div class="col-md-6">
                <h1>Whip Leaders</h1>
                <whip-stat></whip-stat>
          </div>
            <div class="col-md-6">
                <h1>Saves</h1>
                <sv-stat></sv-stat>
              </div> 
    </div>